body {
font-size:62.5%
}

.main {
background-color: #f9f9f9 !important;
}

#welcome.box {
color: #ooo;
background-color:#eee;
border: 1px solid rgb(217, 214, 211);
}

b.box{
color: black !important;
}

.box {
font: 1.2em/1.6em verdana, helvetica, sans-serif; 
color: #333;
padding: 5px;
margin: 10px;
}

h1, h2, h3, h4 {
font: serif; 
}

H1 {font-size:2em}  /* displayed at 24px */
H2 {font-size:1.5em}  /* displayed at 18px */
H3 {font-size:1.25em}  /* displayed at 15px */
H4 {font-size:1em}  /* displayed at 12px */

#NavBar {
font: 1.6em arial, sans-serif;
margin: 10px;
}

a:link {
color: rgb(70, 150, 200);
}

a:visited {
color: #666;
}


/* now its me */

#user-menu {
  font-size: 77%;	
}

.whitePicture {
	border:1px solid #D9D6D3;
}